@model List<TaskManagmentSystem.Models.Task>
@{
    ViewData["Title"] = "Tasks";
}

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Tasks</h2>
            <form asp-action="Index" method="get">
                <div class="form-actions no-color d-flex align-items-center gap-2">
                    <label>Find task by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /></label>
                    <input type="submit" value="Search" class="btn btn-secondary btn-sm" /> |
                    <a asp-action="Index">Back to Full List</a>
                </div>
            </form>
        </div>
        <div class="col-6  text-end">
            <a class="btn btn-primary" asp-controller="Tasks" asp-action="Create">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16" style="margin-top: -3px;">
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                </svg>
                Create new Task
            </a>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">
                        Name
                    </a>
                </th>
                <th>Assigned User</th>
                <th>Status</th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">
                        Due Date
                    </a>  
                </th>
                <th>Tags</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var task in Model)
            {
                <tr>
                    <td>@task.Name</td>
                    <td>
                        <span style="background-color: @(task.User == null ? "#FFF59D" : "transparent"); color: black;">
                            @(task.User != null ? task.User.Name : "Unassigned")
                        </span>
                    </td>
                    <td>@task.Status</td>
                    <td>@task.TaskDetail?.DueDate.ToString("dd/MM/yyyy")</td>
                    <td>@string.Join(", ", task.Tags.Select(t => t.Name))</td>
                    <td>
                        <a asp-controller="Tasks" asp-action="Edit" asp-route-id="@task.Id" class="btn btn-primary btn-sm">
                            View / Edit
                        </a>
                        <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal-@task.Id">
                            Delete
                        </a>

                        <!---------------------- DELETION POP UP ---------------------->
                        <div class="modal fade" id="deleteModal-@task.Id" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="deleteModalLabel"><strong>Delete Task</strong></h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h4 style="margin-top: 0; color: #333;">@task.Name</h4>
                                        <p><strong>Status:</strong> @task.Status</p>
                                        <p><strong>Assigned User:</strong> @(task.User != null ? task.User.Name : "Unassigned")</p>
                                        
                                        <p><strong>Tags:</strong> 
                                            @if (task.Tags != null && task.Tags.Any())
                                            {
                                                @string.Join(", ", task.Tags.Select(t => t.Name))
                                            }
                                            else
                                            {
                                                <span>No Tags</span>
                                            }
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <form asp-controller="Tasks" asp-action="Delete" asp-route-id="@task.Id" method="post">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>