@model List<TaskManagmentSystem.Models.Tag>
@{
    ViewData["Title"] = "Tags";
}

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Tags</h2>
        </div>
        <div class="col-6  text-end">
            @if (TempData["ErrorMsgNewTag"] != null)
            {
               <span id="errorMessage" class="text-danger">@TempData["ErrorMsgNewTag"]</span>
            }
            <form asp-controller="Tags" asp-action="Create" method="post">
                <div class="form-group mb-3">
                    <input type="text" id="TagName" name="Name" class="form-control" placeholder="Enter tag name" required />
                </div>
                <button type="submit" class="btn btn-primary">Add new tag</button>
            </form>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>
                    Edit
                    @if (TempData["ErrorMsgEditTag"] != null)
                    {
                        <span id="errorMessageEdit" class="text-danger">@TempData["ErrorMsgEditTag"]</span>
                    }
                </th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var tag in Model)
            {
                <tr>
                    <td>@tag.Name</td>
                    <td>
                        <form asp-controller="Tags" asp-action="Edit" asp-route-id="@tag.Id" method="post">
                            <div class="form-actions no-color d-flex gap-2">
                                <input type="text" id="editTag" name="newTagName" class="form-control flex-grow-1" placeholder="Enter new tag name" required />
                                <button type="submit" class="btn btn-secondary btn-sm">Edit</button>       
                            </div>
                        </form>
                    </td>
                    <td>
                        <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-@tag.Id">
                            Delete
                        </a>

                        <!---------------------- DELETION POP UP ---------------------->
                        <div class="modal fade" id="deleteModal-@tag.Id" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="deleteModalLabel"><strong>Delete Tag</strong></h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete tag: <strong>@tag.Name</strong>?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <form asp-controller="Tags" asp-action="Delete" asp-route-id="@tag.Id" method="post">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.getElementById("TagName").addEventListener("input", function () {
            let errorMessage = document.getElementById("errorMessage");
            if (errorMessage) {
                errorMessage.style.display = "none"; // Hide the error message when typing
            }
        });

        document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
            let errorMessage = document.getElementById("errorMessageEdit");
            if (errorMessage) {
                errorMessage.style.display = "none";
            }
        }, 3000);
    });
    </script>
}